<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*-->
<!--@thymesVar id="links" type="java.util.List<pl.pmerdala.springit.controller.ViewLinkData>"-->
<!--*/-->
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - Spring Boot Reddit Clone')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Url</th>
            <th>Utworzone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="link : ${links}">
            <td th:text="${link.title}">title</td>
            <td th:text="${link.url}">url</td>
            <td th:text="${link.creationDate}">20 min temu</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>