<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*-->
<!--@thymesVar id="links" type="java.util.List<pl.pmerdala.springit.controller.ViewLinkData>"-->
<!--*/-->
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="~{layouts/main_layout :: head(title = 'Springit - Spring Boot Reddit Clone')}">
</head>
<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>
<div class="container">
    <div th:each="link : ${links}">
        <div class="row link">
            <div class="col-1">
                <div><a class="upvote" href="#" th:data-id="${link.id}"><i class="fas fa-arrow-up"></i></a></div>
                <div><span class="votecount" th:id="|votecount-${link.id}|" th:text="${link.getVote()}">0</span></div>
                <div><a class="downvote" href="#" th:data-id="${link.id}"><i class="fas fa-arrow-down"></i></a></div>
            </div>
            <div class="col-11">
                <p class="title">
                    <a class="title " target="_blank"
                       th:href="@{/link/{linkId}(linkId=${link.id})}" th:text="${link.title}">
                        What's new in Spring Boot 2?
                    </a>
                    <span class="domain">(<a th:href="${link.url}" th:text="${link.domainName}">therealdanvega.com</a>)</span>
                </p>
                <p class="tagline ">submitted
                    <time class="live-timestamp" th:datetime="${link.creationDate}" th:text="${link.formatCreationDate}"
                          th:title="${link.creationDate}">2
                        hours ago
                    </time>
                    by
                    <a class="author" href="../auth/profile.html" th:text="${link.createdBy}">therealdanvega</a>
                </p>
                <p>
                    <a class="comments" th:href="@{/link/{linkId}#comments(linkId=${link.id})}"><i
                            class="fas fa-comments"></i><span
                            th:text="| ${link.numberOfComments} comments|"> 8 comments</span></a>
                    <a class="share" href="#"><i class="fas fa-share-square"></i> share</a>
                </p>
            </div>
        </div>
    </div>

</div>
<script>
    const allVotes = document.querySelectorAll(".upvote, .downvote");
    for (let i=0; i<allVotes.length;i++){
        let className=allVotes[i].className;
        allVotes[i].addEventListener('click',function(event){
           const direction = className==='upvote'? 1:-1;
           const linkId = this.getAttribute('data-id');
           const voteSum = document.getElementById('votecount-' + linkId);
           fetch(`http://localhost:8080/vote/link/${linkId}/direction/${direction}`)
            .then(response=>response.json())
            .then(data=>voteSum.innerHTML = data)
            .catch(err=>console.error(err));
        });
    }
</script>
</body>

</html>